streamlit==1.32.0
pymysql==1.1.0
pandas==2.1.0
plotly==5.18.0
scikit-learn==1.3.0
numpy==1.24.0
python-dotenv==1.0.0
pyresparser==2.0
pdfminer.six==20221105
streamlit-tags==1.2.7
yt-dlp==2023.10.13
joblib==1.3.0
